#!/bin/bash

export TWITTER_API_KEY='{{ twitter_api_key }}'
export TWITTER_API_SECRET='{{ twitter_api_secret }}'
export TWITTER_ACCESS_TOKEN='{{ twitter_access_token }}'
export TWITTER_TOKEN_SECRET='{{ twitter_token_secret }}'

export DJANGO_SECRET_KEY='{{ django_secret_key }}'
export DATABASE_USER={{ db_user }}
export DATABASE_PASSWORD={{ db_password }}
export BROKER_URL={{ broker_url }}