<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>YouTube Audio Downloader - Convert YouTube videos to MP3 audio</title>

        <!-- CSS -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <style>
            body {margin-top: 90px;}
        </style>

        <!-- ShareThis button Javascript -->
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "d6597cb3-7fe9-48bd-a27c-10864e84942c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <a class="navbar-brand" href="/">
                  <span class="glyphicon glyphicon-music"></span> YouTube Audio Downloader</a>
            </div>
        </nav>

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
          </div>
          <div class="row panel">
            <div class="col-lg-12 panel-body">
                <p class="text-center">
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_email_large' displayText='Email'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                </p>
            </div>
          </div>
        </div><!-- /.container -->

        <!-- JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            // Disable submit buttons after click to prevent multiple submissions.
            $(function () {
                $('form').submit(function(){
                    $(this).find('input[type=submit]').prop('disabled', true);
                });
            });

            $(document).ajaxStart(function() {
                $('#result').removeClass();
                $('#result').addClass('alert');
                $('#result').html("<center><img src='{{ STATIC_URL }}images/ajax-loader.gif'><br>"
                    + "Converting video to MP3, please wait, this could take a few minutes...</center>");
            });

            $(document).ajaxStop(function() {
                $('#result').html();
                $('#submit-id-submit').prop('disabled', false);
            });

            function resetResultDiv() {
                $('#result').html("");
                $('#result').removeClass();
            }

            var frm = $('#download_form');
            frm.submit(function () {
                $.ajax({
                    type: frm.attr('method'),
                    url: "{% url 'extract_audio' %}",
                    data: frm.serialize(),
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response['success']) {
                            if (response['video_id']) {
                                $('#result').addClass("alert-success");
                                $('#result').html("<strong><u><a href=" + response['download_link'] + " target=_self>"
                                    + "Download &quot;" + response['filename'] + "&quot;</a></u></strong>");
                            } else {
                                $('#result').addClass("alert-danger");
                                $('#result').html("Could not extract the audio. "
                                    + "Please make sure the URL you entered is correct "
                                    + "and the video is no more than 180 minutes long.");
                            }
                        } else {
                            resetResultDiv();
                            alert(response['detail']);
                        }
                    },
                    error: function(data) {
                        resetResultDiv();
                        alert("Sorry, something went wrong. Please try again.");
                    }
                });
                return false;
            });
        </script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52335746-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>